DIGIT110/ozytester.rnc

start = root
root = element Ozymandius {layer}
layer = element layer {agent, pos?, line*}
agent = attribute agent {"I" | "traveller" | "sculptor" | text} 
line = element line {n, mixed{(layer | ellipses)*}}
n = attribute n {xsd:integer} 
ellipses = element ellipsis {rend, empty}
rend = attribute rend {text}
pos = attribute pos {"start" | "end"}